/*Vert émeraude (#2ECC71) : Évoque la végétation luxuriante des tropiques.
Bleu turquoise (#3498DB) : Rappelle les eaux cristallines des îles.
Jaune ensoleillé (#F1C40F) : Pour la chaleur et l’énergie.
Orange corail (#FF5733) : Ajoute une touche vibrante.*/

$color-principal:#469DB9;
$color-principal-1:#387e94;
$color-principal-2:#2a5e6f;
$color-principal-3:#1c3f4a;
$color-principal-4:#0e1f25;
$color-principal-5:#6bb1c7;
$color-principal-6:#90c4d5;
$color-principal-7:#edf5f8;
$color-secondaire:#ef9d27;
$color-secondaire-opacy:#a76e1b;
$color-secondaire-1: #19B2FF;
$color-secondaire-2: #AA4A53;
$color-secondaire-3:#4D6E80;
$color-green: #A5FC77;
$color-red:#FC7777;

$color-font-black:#141414;
$color-font-2-black:#2c2c2c;
$color-font-3-black:#434343;
$color-font-4-black:#5b5b5b;
$color-font-5-black: #a1a1a1;

$color-gris-1: #e8e8e8;
$color-gris-2:#d0d0d0;

$color-white: #ffffff;
$color-white-2:#f7f7f7;

$font-family: 'Roboto';
$font-family-2: 'Protest Riot';
$font-family-3:'protest-strike-regular';

$tablet-bp:768px;




